<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.quality.mapper.SampleInspectReportMMapper">

    <select id="getSampleQty" parameterType="java.lang.String" resultType="HashMap">
        SELECT TO_CHAR (AQL标准双数) "sampleQtyAqlTtl",
               TO_CHAR (功能性检测双数) "funcQtyAqlTtl",
               TO_CHAR (结构性检测双数) "strQtyAql"
          FROM v_sample_inspect_std_m
         WHERE fact_no = #{factNo} AND TRIM (工厂订单) = #{factOdrNo}
    </select>

    <select id="getDefectQty" parameterType="java.lang.String" resultType="HashMap">
        SELECT type "type",
               type_en "typeEn",
               minor "minor",
               major "major",
               critical "critical"
          FROM v_sample_inspect_rpt_def_qty
         WHERE fact_no = #{factNo}
           AND TRIM (fact_odr_no) = #{factOdrNo}
           AND item_main_no = #{itemMainNo}
           AND (TRIM (version_no) = #{versionNo} OR version_no IS NULL)
    </select>

    <select id="getCheckPoints" parameterType="java.lang.String" resultType="HashMap">
          SELECT item_main_no "itemMainNo",
                 item_medium_no "itemMediumNo",
                 check_points_no "checkPointsNo",
                 check_points_cn "checkPointsCn",
                 check_points_en "checkPointsEn",
                 test_method_reqs_cn "testMethodReqsCn",
                 test_method_reqs_en "testMethodReqsEn",
                 find_question "findQuestion",
                 minor "minor",
                 major "major",
                 critical "critical",
                 minor_enable "minorEnable",
                 major_enable "majorEnable",
                 critical_enable "criticalEnable"
            FROM v_sample_inspect_rpt_chk_pts
           WHERE     fact_no = #{factNo}
                 AND cust_odr_no = #{custOdrNo}
                 AND version_no = #{versionNo}
                 AND style_shorten = #{styleShorten}
                 AND item_main_no = #{itemMainNo}
                 AND item_medium_no = #{itemMediumNo}
        ORDER BY check_points_no
    </select>

    <update id="addMinor" parameterType="java.lang.String">
        UPDATE sample_inspect_report_d
        <choose>
            <when test=" minorField != null and minorField != '' ">
                SET minor = minor + 1
            </when>
            <when test=" majorField != null and majorField != '' ">
                SET major = major + 1
            </when>
            <when test=" criticalField != null and criticalField != '' ">
                SET critical = critical + 1
            </when>
        </choose>
        WHERE   fact_no = #{factNo}
            AND cust_odr_no = #{custOdrNo}
            AND version_no = #{versionNo}
            AND style_shorten = #{styleShorten}
            AND item_main_no = #{itemMainNo}
            AND item_medium_no = #{itemMediumNo}
            AND check_points_no = #{checkPointsNo}
    </update>

    <update id="subtractMinor" parameterType="java.lang.String">
        UPDATE sample_inspect_report_d
        <choose>
            <when test=" minorField != null and minorField != '' ">
                SET minor = minor - 1
            </when>
            <when test=" majorField != null and majorField != '' ">
                SET major = major - 1
            </when>
            <when test=" criticalField != null and criticalField != '' ">
                SET critical = critical - 1
            </when>
        </choose>
        WHERE   fact_no = #{factNo}
            AND cust_odr_no = #{custOdrNo}
            AND version_no = #{versionNo}
            AND style_shorten = #{styleShorten}
            AND item_main_no = #{itemMainNo}
            AND item_medium_no = #{itemMediumNo}
            AND check_points_no = #{checkPointsNo}
    </update>

    <update id="updateInspectorDecision" parameterType="java.lang.String">
          UPDATE sample_inspect_report_m
             SET inspector_decision = #{inspectorDecision}
           WHERE fact_no = #{factNo}
             AND cust_odr_no = #{custOdrNo}
             AND version_no = #{versionNo}
             AND style_shorten = #{styleShorten}
    </update>

    <select id="queryCustOdrNo" parameterType="java.lang.String" resultType="Integer">
        SELECT COUNT (*) "qty"
          FROM odrm
         WHERE fact_no = #{factNo} AND cust_odr_no = #{custOdrNo}
    </select>

    <insert id="insertReportM" parameterType="java.lang.String">
        INSERT INTO sample_inspect_report_m (fact_no,
                                             fact_odr_no,
                                             cust_odr_no,
                                             version_no,
                                             style_shorten,
                                             pace_code,
                                             model_colour,
                                             order_type,
                                             odr_qty,
                                             inspect_date,
                                             inspector_decision,
                                             id,
                                             create_by,
                                             create_time)
           SELECT a.fact_no,
                  a.fact_odr_no,
                  a.cust_odr_no,
                  (SELECT NVL (MAX (version_no), 0) + 1
                   FROM sample_inspect_report_m
                   WHERE fact_no = #{factNo} AND cust_odr_no = #{custOdrNo}) version_no,
                  b.style_shorten,
                  b.artic_no,
                  b.artic_nm,
                  #{orderType},
                  a.cus_qty,
                  CURRENT_TIMESTAMP,
                  '9',
                  NVL ( (SELECT MAX (TO_NUMBER (id)) FROM sample_inspect_report_m), 0) + 1,
                  #{createBy},
                  CURRENT_TIMESTAMP
             FROM odrm a, stylem b
            WHERE     a.fact_no = b.fact_no
                  AND a.style_no = b.style_no
                  AND a.fact_no = #{factNo}
                  AND a.cust_odr_no = #{custOdrNo}

    </insert>

    <insert id="insertReportD" parameterType="java.lang.String">
        INSERT INTO sample_inspect_report_d (fact_no,
                                             fact_odr_no,
                                             cust_odr_no,
                                             version_no,
                                             style_shorten,
                                             item_main_no,
                                             item_medium_no,
                                             check_points_no,
                                             minor,
                                             major,
                                             critical,
                                             minor_enable,
                                             major_enable,
                                             critical_enable,
                                             id,
                                             main_id,
                                             create_by,
                                             create_time)

           SELECT a1.fact_no,
                   a1.fact_odr_no,
                   a1.cust_odr_no,
                   (SELECT NVL (MAX (version_no), 0) + 1
                    FROM sample_inspect_report_d
                    WHERE fact_no = #{factNo} AND cust_odr_no = #{custOdrNo}) version_no,
                   a2.style_shorten,
                   b.item_main_no,
                   b.item_medium_no,
                   b.check_points_no,
                   0,
                   0,
                   0,
                   c.minor_enable,
                   c.major_enable,
                   c.critical_enable,
                     NVL ( (SELECT MAX (TO_NUMBER (id)) FROM sample_inspect_report_d), 0)
                   + ROWNUM,
                   (SELECT   NVL ( (SELECT MAX (TO_NUMBER (main_id))
                                      FROM sample_inspect_report_d),
                                  0)
                           + 1
                      FROM DUAL),
                   #{createBy},
                   CURRENT_TIMESTAMP
              FROM odrm a1,
                   stylem a2,
                   sample_inspect_style b,
                   sample_inspect_item c
             WHERE     a1.fact_no = a2.fact_no
                   AND a1.style_no = a2.style_no
                   AND a1.fact_no = b.fact_no
                   AND a2.style_shorten = b.style_shorten
                   AND b.fact_no = c.fact_no
                   AND b.item_main_no = c.item_main_no
                   AND b.item_medium_no = c.item_medium_no
                   AND b.check_points_no = c.check_points_no
                   AND a1.fact_no = #{factNo}
                   AND a1.cust_odr_no = #{custOdrNo}
    </insert>

    <update id="addTraceabilityCode" parameterType="java.lang.String">
        UPDATE sample_inspect_report_m
           SET traceability_code = #{traceabilityCode}
         WHERE fact_no = #{factNo} AND cust_odr_no = #{custOdrNo} AND version_no = #{versionNo}
    </update>

    <update id="subtractTraceabilityCode" parameterType="java.lang.String">
        UPDATE sample_inspect_report_m
           SET traceability_code = NULL
         WHERE fact_no = #{factNo} AND cust_odr_no = #{custOdrNo} AND version_no = #{versionNo}
    </update>

    <update id="addQuestion" parameterType="java.lang.String">
        UPDATE sample_inspect_report_d
           SET find_question = #{findQuestion}
         WHERE     fact_no = #{factNo}
               AND cust_odr_no = #{custOdrNo}
               AND version_no = #{versionNo}
               AND style_shorten = #{styleShorten}
               AND item_main_no = #{itemMainNo}
               AND item_medium_no = #{itemMediumNo}
               AND check_points_no = #{checkPointsNo}
    </update>

    <update id="subtractQuestion" parameterType="java.lang.String">
        UPDATE sample_inspect_report_d
           SET find_question = NULL
         WHERE     fact_no = #{factNo}
               AND cust_odr_no = #{custOdrNo}
               AND version_no = #{versionNo}
               AND style_shorten = #{styleShorten}
               AND item_main_no = #{itemMainNo}
               AND item_medium_no = #{itemMediumNo}
               AND check_points_no = #{checkPointsNo}
    </update>



</mapper>