<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.order.mapper.OrderAnalyzeMapper">

    <!-- 客户_接单日期_数量 -->
    <select id="getCustRevOdrQty" parameterType="String" resultType="HashMap">
        SELECT custom_fnm "nm", SUM (odr_qty) "odr_qty"
        FROM v_order_order_analyze
        WHERE fact_no = #{factNo}
        <if test=" revOdrDateByToday != null and revOdrDateByToday != '' ">
            AND rev_odr_date = #{revOdrDateByToday}
        </if>
        <if test=" revOdrDateByWeek != null and revOdrDateByWeek != '' ">
            AND TO_CHAR (TRUNC (TO_DATE (rev_odr_date, 'yyyymmdd'), 'iw'),
                         'yyyymmdd') =
                TO_CHAR (TRUNC (TO_DATE (#{revOdrDateByWeek}, 'yyyymmdd'), 'iw'),
                         'yyyymmdd')
        </if>
        <if test=" revOdrDateByMonth != null and revOdrDateByMonth != '' ">
            AND SUBSTR (rev_odr_date, 1, 6) = #{revOdrDateByMonth}
        </if>
        <if test=" revOdrDateByYear != null and revOdrDateByYear != '' ">
            AND SUBSTR (rev_odr_date, 1, 4) = #{revOdrDateByYear}
        </if>
        <if test=" dateStart != null and dateStart != '' and dateEnd != null and dateEnd != '' ">
            AND rev_odr_date BETWEEN #{dateStart} AND #{dateEnd}
        </if>
        GROUP BY custom_fnm
        ORDER BY SUM (odr_qty) DESC
    </select>

    <!-- 品牌_接单日期_数量 -->
    <select id="getBrandRevOdrQty" parameterType="String" resultType="HashMap">
        SELECT TRIM (brand_nm) "nm", SUM (odr_qty) "odr_qty"
        FROM v_order_order_analyze
        WHERE fact_no = #{factNo}
        <if test=" revOdrDateByToday != null and revOdrDateByToday != '' ">
            AND rev_odr_date = #{revOdrDateByToday}
        </if>
        <if test=" revOdrDateByWeek != null and revOdrDateByWeek != '' ">
            AND TO_CHAR (TRUNC (TO_DATE (rev_odr_date, 'yyyymmdd'), 'iw'),
                         'yyyymmdd') =
                TO_CHAR (TRUNC (TO_DATE (#{revOdrDateByWeek}, 'yyyymmdd'), 'iw'),
                         'yyyymmdd')
        </if>
        <if test=" revOdrDateByMonth != null and revOdrDateByMonth != '' ">
            AND SUBSTR (rev_odr_date, 1, 6) = #{revOdrDateByMonth}
        </if>
        <if test=" revOdrDateByYear != null and revOdrDateByYear != '' ">
            AND SUBSTR (rev_odr_date, 1, 4) = #{revOdrDateByYear}
        </if>
        <if test=" dateStart != null and dateStart != '' and dateEnd != null and dateEnd != '' ">
            AND rev_odr_date BETWEEN #{dateStart} AND #{dateEnd}
        </if>
        GROUP BY brand_nm
        ORDER BY SUM (odr_qty) DESC
    </select>

    <!-- 型体_接单日期_数量 -->
    <select id="getStyleRevOdrQty" parameterType="String" resultType="HashMap">
        SELECT TRIM (artic_no) "nm", SUM (odr_qty) "odr_qty"
        FROM v_order_order_analyze
        WHERE fact_no = #{factNo}
        <choose>
            <when test=" revOdrDateByToday != null and revOdrDateByToday != '' ">
                AND rev_odr_date = #{revOdrDateByToday}
            </when>
            <when test=" revOdrDateByWeek != null and revOdrDateByWeek != '' ">
                AND TO_CHAR (TRUNC (TO_DATE (rev_odr_date, 'yyyymmdd'), 'iw'),
                'yyyymmdd') =
                TO_CHAR (TRUNC (TO_DATE (#{revOdrDateByWeek}, 'yyyymmdd'), 'iw'),
                'yyyymmdd')
            </when>
            <when test=" revOdrDateByMonth != null and revOdrDateByMonth != '' ">
                AND SUBSTR (rev_odr_date, 1, 6) = #{revOdrDateByMonth}
            </when>
            <when test=" revOdrDateByYear != null and revOdrDateByYear != '' ">
                AND SUBSTR (rev_odr_date, 1, 4) = #{revOdrDateByYear}
            </when>
            <when test=" dateStart != null and dateStart != '' and dateEnd != null and dateEnd != '' ">
                AND rev_odr_date BETWEEN #{dateStart} AND #{dateEnd}
            </when>
        </choose>
        GROUP BY artic_no
        ORDER BY SUM (odr_qty) DESC
    </select>

    <!-- 目的地_接单日期_数量 -->
    <select id="getDestRevOdrQty" parameterType="String" resultType="HashMap">
        SELECT dest_country "nm", SUM (odr_qty) "odr_qty"
        FROM v_order_order_analyze
        WHERE fact_no = #{factNo}
        <choose>
            <when test=" revOdrDateByToday != null and revOdrDateByToday != '' ">
                AND rev_odr_date = #{revOdrDateByToday}
            </when>
            <when test=" revOdrDateByWeek != null and revOdrDateByWeek != '' ">
                AND TO_CHAR (TRUNC (TO_DATE (rev_odr_date, 'yyyymmdd'), 'iw'),
                'yyyymmdd') =
                TO_CHAR (TRUNC (TO_DATE (#{revOdrDateByWeek}, 'yyyymmdd'), 'iw'),
                'yyyymmdd')
            </when>
            <when test=" revOdrDateByMonth != null and revOdrDateByMonth != '' ">
                AND SUBSTR (rev_odr_date, 1, 6) = #{revOdrDateByMonth}
            </when>
            <when test=" revOdrDateByYear != null and revOdrDateByYear != '' ">
                AND SUBSTR (rev_odr_date, 1, 4) = #{revOdrDateByYear}
            </when>
            <when test=" dateStart != null and dateStart != '' and dateEnd != null and dateEnd != '' ">
                AND rev_odr_date BETWEEN #{dateStart} AND #{dateEnd}
            </when>
        </choose>
        GROUP BY dest_country
        ORDER BY SUM (odr_qty) DESC
    </select>

</mapper>